/* Default: Desktop Layout */
.navbtn {
    background-color: red;
    width: 10%;
    margin: 1%;
  }
  
  /* Tablet Layout */
  @media (max-width: 1023px) {
    .navbtn {
      background-color: blue;
      width: 45%;
    }
  }
  
  /* Phone Layout */
  @media (max-width: 480px) {
    .navbtn {
      background-color: yellow;
      width: 100%;
    }
  }