body {
    margin: 0;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: 2px 3px 10px lightgray;
}

h1 {
    background-color: rgb(24, 133, 240);
    width: 420px;
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 25px;
}

form {
    display: flex;
    margin: 0;
}

.task_input {
    width: 320px;
    padding: 10px 10px;
    border: 2px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    border: 1px solid lightgray;
}

.add_task {
    padding: 10px 10px;
    border: none;
    background-color: rgb(24, 133, 240);
    width: 95px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    cursor: pointer;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    width: 420px;
}

button {
    width: 430px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 15px;
}

.learn_css,
.tutorial {
    background-color: rgb(203, 234, 253);
}

.assignment {
    background-color: rgb(180, 238, 179);
    text-decoration: line-through;
}